@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: local("Manrope"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: local("Manrope"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  color: #8B8FBB;
  font-family: "Manrope", sans-serif;
  background-color: #F9F9FF;
}

.scroll-none {
  overflow: hidden;
}

.cont {
  padding: 0 16px;
  max-width: 1142px;
  margin: 0 auto;
}

.title-h2 {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.btn-style {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 12px;
  background: #F2B705;
  font-size: 18px;
  border: 2px solid #F2B705;
  transition: color 0.5s, background-color 0.5s;
}

.header {
  background-color: #F9F9FF;
}
.header__cont {
  display: flex;
  padding-top: 16px;
  align-items: center;
}
.header__box-logo {
  margin-right: 90px;
}
.header__nav {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
}
.header__nav-list {
  display: flex;
  gap: 32px;
}
.header__btn {
  padding: 11px 22px;
  font-size: 16px;
}
.header__btn-burger-box {
  display: none;
}
.header__mob-nav {
  position: absolute;
  top: -32px;
  right: -16px;
  text-align: right;
  overflow: hidden;
  background-color: #F9F9FF;
  padding: 96px 0 0 0;
  width: 0;
  height: 120vh;
  transition: all 0.5s;
  box-shadow: 0 0 10px #424467;
}
.header__mob-nav-open {
  width: 256px;
}
.header__mob-nav-list {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  padding: 0 16px;
}
.header__mob-nav-item {
  margin-bottom: 16px;
}

.first-screen {
  background: #F9F9FF url(../img/pic_fon-first-screen.svg) no-repeat center bottom;
}
.first-screen__cont {
  padding: 85px 0 469px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-screen__title {
  color: #424467;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
}
.first-screen__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 54px;
}
.first-screen__btn {
  background: #616BE8;
  line-height: normal;
  padding: 15px 95px;
  border-color: #616BE8;
}

.we-offer {
  padding: 82px 0 83px;
  background: url(../img/we-offer/we-offer-bg.svg) no-repeat center;
  background-size: cover;
}
.we-offer__cont {
  display: grid;
  grid-template-columns: 1fr 445px;
  grid-template-rows: 3fr 4fr;
}
.we-offer__title {
  grid-column: 1/2;
  grid-row: 1/2;
  line-height: normal;
  padding-right: 30px;
  margin-bottom: 40px;
}
.we-offer__text {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-right: 80px;
  font-weight: 500;
  line-height: 28px;
}
.we-offer__list {
  grid-column: 2/3;
  grid-row: 1/3;
}
.we-offer__item + .we-offer__item {
  margin-top: 40px;
}
.we-offer__item {
  display: grid;
  grid-template-columns: 65px 1fr;
  gap: 16px 30px;
}
.we-offer__item-icon {
  grid-column: 1/2;
  grid-row: 1/3;
}
.we-offer__item-title {
  grid-column: 2/3;
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.we-offer__item-text {
  grid-column: 2/3;
}

.additional-inf {
  background-color: #F9F9FF;
  padding: 76px 0 82px;
}
.additional-inf__cont {
  display: grid;
  grid-template-columns: 1fr 650px;
  gap: 52px 16px;
}
.additional-inf__title {
  grid-column: 1/2;
  line-height: normal;
}
.additional-inf__text {
  grid-column: 2/3;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.additional-inf__list {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.additional-inf__item {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 16px 30px;
}
.additional-inf__item-icon {
  grid-column: 1/2;
  grid-row: 1/3;
}
.additional-inf__item-title {
  grid-column: 2/3;
  grid-row: 1/2;
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.additional-inf__item-text {
  grid-column: 2/3;
  grid-row: 2/3;
}

.order-form {
  background-color: #616BE8;
  padding: 60px 0;
}
.order-form__title {
  color: #FFF;
  text-align: center;
  line-height: 40px;
  padding: 0 65px;
  margin-bottom: 52px;
}
.order-form__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.order-form__input {
  font-size: 16px;
  font-weight: 400;
  padding: 13px 16px;
  border-radius: 12px;
}
.order-form__input::-moz-placeholder {
  color: #8B8FBB;
}
.order-form__input::placeholder {
  color: #8B8FBB;
}
.order-form__input--name {
  grid-column: 1/2;
}
.order-form__input--tel {
  grid-column: 2/3;
}
.order-form__input--submit {
  grid-column: 3/4;
}
.order-form__input--submit:hover {
  cursor: pointer;
}

.calculator {
  padding: 82px 0;
}
.calculator__title {
  text-align: center;
  line-height: 73px;
}
.calculator__text {
  color: #8B8FBB;
  text-align: center;
  font-size: 18px;
  line-height: normal;
  padding: 0 119px;
  margin-bottom: 32px;
}
.calculator__box {
  border-radius: 18px;
  background: #FFF;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
  margin-bottom: 32px;
}
.calculator__box-title {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}
.calculator__item-parameters {
  display: grid;
  grid-template-columns: 320px 60px 1fr 180px 130px;
  margin-bottom: 16px;
  gap: 16px;
}
.calculator__item-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.calculator__item-label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  grid-column: 1/2;
  color: #424467;
  font-size: 18px;
  line-height: 30px;
  padding-left: 28px;
}
.calculator__item-label::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid #F2B705;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 0;
}
.calculator__item-checkbox:checked + .calculator__item-label::before {
  background-image: url(../img/calculator/ic_g.svg);
  background-position: -1px -1px;
}
.calculator__item-checkbox ~ *:not(.calculator__item-label) {
  display: none;
}
.calculator__item-checkbox:checked ~ *:not(.calculator__item-label) {
  display: block;
}
.calculator__item-number {
  grid-column: 2/3;
  border-radius: 8px;
  background: #E6EBFB;
  text-align: center;
  color: #8B8FBB;
  font-size: 18px;
  font-weight: 400;
}
.calculator__price {
  grid-column: 4/5;
}
.calculator__price-number {
  color: #424467;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 8px;
}
.calculator__final-price {
  grid-column: 5/6;
}
.calculator__final-price-number {
  color: #424467;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 8px;
}
.calculator__total-subscription-price {
  border-radius: 10px;
  background: #E6EBFB;
  display: flex;
  justify-content: space-between;
  padding: 4px 24px;
  align-items: center;
  margin-top: 24px;
}
.calculator__total-subscription-price-text {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.calculator__total-subscription-price-box {
  display: flex;
  align-items: center;
}
.calculator__total-subscription-price-day {
  border-radius: 12px;
  background: #616BE8;
  color: #FFF;
  line-height: 30px;
  padding: 7px 24px;
  display: flex;
  margin-right: 16px;
}
.calculator__total-subscription-price-day span:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.calculator__total-subscription-price-monthly {
  color: #424467;
  display: flex;
}
.calculator__total-subscription-price-monthly span:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.calculator__btn-box {
  display: flex;
  justify-content: center;
}
.calculator__btn {
  line-height: 30px;
  padding: 11px 88px;
}

.partners {
  background-color: #F2B705;
  padding: 50px 0;
}
.partners__title {
  color: #FFF;
  text-align: center;
  line-height: normal;
  margin-bottom: 40px;
}
.partners__box-slider {
  display: flex;
  justify-content: space-between;
}
.partners__btn {
  background-color: transparent;
}
.partners__btn--previous {
  padding-right: 16px;
}
.partners__btn--next {
  padding-left: 16px;
}
.partners__btn-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.slick-slider {
  min-width: 0;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-track .slick-slide {
  display: flex;
  justify-content: center;
}

.advantages {
  padding: 82px 0 84px;
}
.advantages__cont {
  display: grid;
  grid-template-columns: 1fr 654px;
}
.advantages__title {
  line-height: normal;
  margin-bottom: 52px;
}
.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}
.advantages__btn {
  margin-top: 32px;
  line-height: 30px;
  padding: 11px 97px 11px 94px;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
}
.advantages__img {
  height: 520px;
  background: url(../img/advantages/pic_main.svg) no-repeat right;
  grid-column: 2/3;
  grid-row: 1/3;
}

.faq {
  padding: 60px 0 43px;
  background: url(../img/faq/faq-bg.svg) no-repeat;
  background-size: cover;
}
.faq__cont {
  display: grid;
  grid-template-columns: 635px 1fr 350px;
}
.faq__text-box {
  grid-column: 3/4;
  grid-row: 1/2;
}
.faq__title {
  color: #E5007E;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 24px;
  margin-bottom: 24px;
}
.faq__subtitle {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
.faq__question-box {
  grid-column: 1/2;
  grid-row: 1/2;
}
.faq__item {
  border-bottom: solid 1px #E6EBFB;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.faq__question-btn {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}
.faq__question {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.faq__question-icon-box {
  padding-top: 6px;
  padding-left: 58px;
}
.faq__question-icon {
  transition: all 0.5s;
}
.faq__answer-box {
  overflow-y: hidden;
  height: 0;
  transition: all 0.5s;
}
.faq__answer {
  padding-top: 4px;
}

.contacts {
  padding: 82px 0 32px;
}
.contacts__cont {
  display: grid;
  grid-template-columns: 210px 1fr 210px 1fr 297px;
}
.contacts__title {
  grid-column: 1/-1;
  color: #424467;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 52px;
}
.contacts__list-box {
  display: flex;
  font-size: 16px;
  line-height: 30px;
}
.contacts__tel-box {
  grid-column: 1/2;
}
.contacts__icon {
  margin-right: 16px;
}
.contacts__item {
  padding: 5px 0;
}
.contacts__email-box {
  grid-column: 3/4;
}
.contacts__adress-box {
  grid-column: 5/6;
}

.footer {
  padding: 20px 0;
}
.footer__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social-network-list {
  display: flex;
}
.footer__social-network-item + .footer__social-network-item {
  margin-left: 16px;
}
.footer__copyright {
  color: #C8CCED;
  font-size: 12px;
  line-height: 30px;
}

.pop-up {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 39, 0.7);
  display: none;
}
.pop-up__open {
  display: block;
}
.pop-up__box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 24px 24px 80px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.pop-up__exit {
  background-color: transparent;
  align-self: flex-end;
  margin-bottom: 40px;
}
.pop-up__title {
  color: #565981;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
}
.pop-up__form {
  display: flex;
  flex-direction: column;
}
.pop-up__label {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.pop-up__input {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 15px 16px 19px;
  border-radius: 12px;
  border: 1px solid #8B8FBB;
}
.pop-up__input--name {
  margin-bottom: 20px;
}
.pop-up__input--tel {
  margin-bottom: 32px;
}
.pop-up__input--submit {
  padding: 17px 125px;
  border: none;
}
.pop-up__input--submit:hover {
  cursor: pointer;
}
.pop-up__input::-moz-placeholder {
  color: #8B8FBB;
  font-size: 16px;
}
.pop-up__input::placeholder {
  color: #8B8FBB;
  font-size: 16px;
}

@media (max-width: 1440px) {
  .first-screen {
    background-size: contain;
  }
  .faq__cont {
    grid-template-columns: 635px 1fr 256px;
  }
}
@media (max-width: 1024px) {
  .header__box-logo {
    margin-right: auto;
  }
  .header__nav {
    display: none;
  }
  .header__btn-burger-box {
    display: block;
    position: relative;
  }
  .header__btn-burger {
    height: 20px;
    width: 25px;
    background-color: transparent;
    margin-left: 40px;
    position: relative;
    z-index: 10;
  }
  .header__btn-burger-line {
    height: 5px;
    width: 100%;
    background-color: #616BE8;
    border-radius: 10px;
    transition: all 0.5s;
  }
  .header__btn-burger-line::after, .header__btn-burger-line::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #616BE8;
    border-radius: 10px;
    left: 0;
    transition: all 0.5s;
  }
  .header__btn-burger-line::before {
    content: "";
    top: 0;
  }
  .header__btn-burger-line::after {
    content: "";
    bottom: 0;
  }
  .header__btn-burger-exit .header__btn-burger-line {
    background-color: transparent;
  }
  .header__btn-burger-exit .header__btn-burger-line::before {
    content: "";
    rotate: 45deg;
    top: 45%;
  }
  .header__btn-burger-exit .header__btn-burger-line::after {
    content: "";
    rotate: -45deg;
    top: 45%;
  }
  .first-screen__cont {
    padding: 82px 0 43vw;
  }
  .first-screen__title {
    font-size: 50px;
  }
  .additional-inf__cont {
    display: block;
  }
  .additional-inf__title {
    margin-bottom: 16px;
  }
  .additional-inf__text {
    margin-bottom: 52px;
    text-align: left;
  }
  .additional-inf__item {
    display: block;
  }
  .additional-inf__item-icon {
    margin-bottom: 24px;
  }
  .additional-inf__item-title {
    margin-bottom: 16px;
  }
  .advantages__cont {
    grid-template-columns: 1fr 436px;
  }
  .advantages__img {
    height: 520px;
    background: url(../img/advantages/pic_m-max-1024.svg) no-repeat right;
  }
  .faq__cont {
    display: block;
  }
  .faq__text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .faq__title {
    margin: 0 16px 0 0;
  }
}
@media (max-width: 880px) {
  .we-offer {
    background-position-x: 25%;
  }
  .we-offer__cont {
    display: block;
  }
  .we-offer__title {
    padding-right: 0;
  }
  .we-offer__text {
    margin-bottom: 52px;
  }
  .we-offer__list {
    padding-right: 80px;
  }
  .additional-inf {
    padding-top: 70px;
  }
  .additional-inf__list {
    display: block;
  }
  .additional-inf__item {
    display: grid;
    margin-bottom: 30px;
  }
  .additional-inf__item-icon {
    margin-bottom: 0;
  }
  .additional-inf__item-title {
    margin-bottom: 0;
  }
  .order-form__title {
    padding: 0;
  }
  .order-form__form {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .order-form__input--submit {
    grid-column: 1/-1;
  }
  .calculator__title {
    line-height: 44px;
  }
  .calculator__text {
    padding: 8px;
  }
  .calculator__item-parameters {
    grid-template-columns: 1fr 1fr 160px;
    gap: 10px;
    margin-bottom: 20px;
  }
  .calculator__item-label {
    grid-column: 1/3;
  }
  .calculator__item-number {
    grid-column: 3/4;
  }
  .calculator__price {
    grid-column: 1/2;
  }
  .calculator__final-price {
    grid-column: 2/3;
  }
  .calculator__total-subscription-price {
    padding: 4px 16px;
  }
  .calculator__total-subscription-price-text {
    font-size: 20px;
  }
  .advantages__cont {
    grid-template-columns: 1fr 1fr;
  }
  .advantages__btn {
    grid-column: 1/3;
    justify-self: center;
  }
  .advantages__img {
    grid-column: 2/3;
    grid-row: 1/2;
    background-size: contain;
  }
  .contacts__cont {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .contacts__title {
    margin-bottom: 36px;
  }
  .contacts__tel-box {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contacts__email-box {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .contacts__adress-box {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
@media (max-width: 720px) {
  .calculator__total-subscription-price-box {
    display: block;
  }
  .calculator__total-subscription-price-monthly {
    padding: 7px 24px;
  }
  .faq__cont {
    display: block;
  }
  .faq__text-box {
    display: block;
  }
  .faq__title {
    margin: 0 0 16px 0;
  }
  .faq__subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 580px) {
  .title-h2 {
    font-size: 36px;
  }
  .first-screen__cont {
    padding: 52px 0 55vw;
  }
  .first-screen__title {
    font-size: 40px;
    line-height: 46px;
  }
  .first-screen__btn {
    padding: 15px 64px;
  }
  .we-offer {
    padding: 72px 0;
  }
  .we-offer__title {
    margin-bottom: 32px;
  }
  .we-offer__text {
    margin-bottom: 40px;
    padding-right: 0;
  }
  .we-offer__list {
    padding-right: 0;
  }
  .we-offer__item {
    display: block;
  }
  .we-offer__item-title {
    margin-bottom: 16px;
  }
  .we-offer__item-icon {
    margin-bottom: 24px;
  }
  .additional-inf {
    padding: 40px 0;
  }
  .additional-inf__text {
    margin-bottom: 40px;
  }
  .additional-inf__item {
    display: block;
  }
  .additional-inf__item-icon {
    margin-bottom: 24px;
  }
  .additional-inf__item-title {
    margin-bottom: 16px;
  }
  .order-form__form {
    grid-template-columns: 1fr;
  }
  .order-form__input {
    grid-column: 1/-1;
  }
  .calculator {
    padding: 72px 0;
  }
  .calculator__cont {
    padding: 0 8px;
  }
  .calculator__box {
    padding: 24px 16px 16px;
  }
  .calculator__box-title {
    text-align: center;
  }
  .calculator__item-parameters {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .calculator__item-label {
    grid-column: 1/-1;
    font-size: 16px;
  }
  .calculator__item-number {
    grid-column: 1/-1;
  }
  .calculator__price {
    grid-column: 1/2;
    font-size: 12px;
  }
  .calculator__final-price {
    grid-column: 2/3;
    font-size: 12px;
  }
  .calculator__total-subscription-price {
    flex-direction: column;
    padding: 16px 20px;
  }
  .calculator__total-subscription-price-text {
    margin-bottom: 24px;
  }
  .calculator__btn {
    padding: 12px 26px;
  }
  .partners__logo {
    max-width: 196px;
  }
  .advantages {
    padding: 72px 0 51px;
  }
  .advantages__cont {
    display: block;
  }
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__img {
    background-image: url(../img/advantages/pic_m-max-580.svg);
    background-position: center;
    height: 370px;
  }
  .advantages__btn {
    display: block;
    padding: 11px 64px;
    margin: 32px auto 52px;
  }
  .contacts {
    padding: 72px 0 45px;
  }
  .contacts__cont {
    display: block;
  }
  .contacts__title {
    margin-bottom: 40px;
  }
  .contacts__list-box {
    margin-bottom: 30px;
  }
  .footer__cont {
    flex-direction: column;
  }
  .footer__social-network-list {
    order: -1;
    margin-bottom: 24px;
  }
  .footer__box-logo {
    margin-bottom: 4px;
  }
}
@media (max-width: 512px) {
  .header__cont {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__btn {
    order: 10;
    margin-top: 16px;
  }
}