@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: medium;
  font-weight: 500;
  src: local("Montserrat"), url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: semibold;
  font-weight: 600;
  src: local("Montserrat"), url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: local("Montserrat"), url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local("Manrope"), url("/fonts/Manrope-Regular.woff2") format("woff2"), url("/fonts/Manrope-Regular.woff") format("woff");
}
@font-face {
  font-family: "Manrope";
  font-style: medium;
  font-weight: 500;
  src: local("Manrope"), url("/fonts/Manrope-Medium.woff2") format("woff2"), url("/fonts/Manrope-Medium.woff") format("woff");
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #8B8FBB;
  font-family: "Manrope", sans-serif;
}

.cont {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  background-color: #F9F9FF;
}
.header__cont {
  display: flex;
  padding-top: 16px;
  align-items: center;
}
.header__box-logo {
  margin-right: 90px;
}
.header__nav {
  color: #424467;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
}
.header__nav-list {
  display: flex;
  gap: 32px;
}
.header__btn {
  padding: 13px 24px;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 12px;
  background: #F2B705;
}