@import "_null";
@import "_font";

body{
    font-size: 16px;
    line-height: 22px;
    color: #8B8FBB;
    font-family: "Manrope", sans-serif;
}
.cont{
    max-width: 1110px;
    margin: 0 auto;
}
.header{
    background-color: #F9F9FF;
    &__cont{
        display: flex;
        padding-top: 16px;
        align-items: center;
    }
    &__box-logo{
        margin-right: 90px;
    }
    &__nav{
        color: #424467;
        font-family: "Montserrat", sans-serif;
        margin-right: auto;
    }
    &__nav-list{
        display: flex;
        gap: 32px;
    }
    &__btn{
        padding: 13px 24px;
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        border-radius: 12px;
        background: #F2B705;
    }
}
.first-screen{
    background:#F9F9FF url(../img/svg/pic_fon-first-screen.svg) no-repeat center bottom;
    &__cont{
        padding: 85px 0 469px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: #424467;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        margin-bottom: 16px;
    }
    &__text{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 54px;
    }
    &__btn{
        border-radius: 12px;
        background: #616BE8;
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        padding: 17px 97px;
    }
}
.we-offer{
    padding: 82px 0 83px;
    background: url(../img/svg/we-offer/we-offer-bg.svg) no-repeat center;
    background-size: cover;
    &__cont{
        display: grid;
        grid-template-columns: 1fr 445px;
        grid-template-rows: 3fr 4fr;
    }
    &__title{
        grid-column: 1/2;
        grid-row: 1/2;
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        padding-right: 30px;
        margin-bottom: 40px;
    }
    &__text{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-right: 80px;
        font-weight: 500;
        line-height: 28px;
    }
    &__list{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    &__item + &__item{
        margin-top: 40px;
    }
    &__item{
        display: grid;
        grid-template-columns: 65px 1fr;
        gap: 16px 30px;
    }
    &__item-icon{
        grid-column: 1/2;
        grid-row: 1/3;

    }
    &__item-title{
        grid-column: 2/3;
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
    }
    &__item-text{
        grid-column: 2/3;
    }
}