@import "_null";
@import "_font";

body{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    color: #8B8FBB;
    font-family: "Manrope", sans-serif;
    background-color: #F9F9FF;
}
.cont{
    max-width: 1110px;
    margin: 0 auto;
}
.header{
    background-color: #F9F9FF;
    &__cont{
        display: flex;
        padding-top: 16px;
        align-items: center;
    }
    &__box-logo{
        margin-right: 90px;
    }
    &__nav{
        color: #424467;
        font-family: "Montserrat", sans-serif;
        margin-right: auto;
    }
    &__nav-list{
        display: flex;
        gap: 32px;
    }
    &__btn{
        padding: 13px 24px;
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        border-radius: 12px;
        background: #F2B705;
    }
}
.first-screen{
    background:#F9F9FF url(../img/pic_fon-first-screen.svg) no-repeat center bottom;
    &__cont{
        padding: 85px 0 469px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: #424467;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        margin-bottom: 16px;
    }
    &__text{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 54px;
    }
    &__btn{
        border-radius: 12px;
        background: #616BE8;
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        padding: 17px 97px;
    }
}
.we-offer{
    padding: 82px 0 83px;
    background: url(../img/we-offer/we-offer-bg.svg) no-repeat center;
    background-size: cover;
    &__cont{
        display: grid;
        grid-template-columns: 1fr 445px;
        grid-template-rows: 3fr 4fr;
    }
    &__title{
        grid-column: 1/2;
        grid-row: 1/2;
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        padding-right: 30px;
        margin-bottom: 40px;
    }
    &__text{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-right: 80px;
        font-weight: 500;
        line-height: 28px;
    }
    &__list{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    &__item + &__item{
        margin-top: 40px;
    }
    &__item{
        display: grid;
        grid-template-columns: 65px 1fr;
        gap: 16px 30px;
    }
    &__item-icon{
        grid-column: 1/2;
        grid-row: 1/3;

    }
    &__item-title{
        grid-column: 2/3;
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
    }
    &__item-text{
        grid-column: 2/3;
    }
}
.additional-inf {
    background-color: #F9F9FF;
    padding: 76px 0 82px;
    &__cont {
        display: grid;
        grid-template-columns: 1fr 650px;
        gap: 52px 16px;
    }

    &__title {
        grid-column: 1/2;
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
    }

    &__text {
        grid-column: 2/3;
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }

    &__list {
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__item {
        display: grid;
        grid-template-columns: 64px 1fr;
        gap: 16px 30px;
    }

    &__item-icon {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    &__item-title {
        grid-column: 2/3;
        grid-row: 1/2;
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }

    &__item-text {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}
.order-form {
    background-color: #616BE8;
    padding: 60px 0;
    &__cont {
        margin: 0 auto;
        max-width: 1100px;
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        padding: 0 100px;
        margin-bottom: 52px;
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__input {
        font-size: 16px;
        font-weight: 400;
        padding: 13px 16px;
        border-radius: 12px;
        &::placeholder{
            color: #8B8FBB;
        }
        &--name{
            grid-column: 1/2;
        }
        &--tel {
            grid-column: 2/3;
        }
        &--submit {
            grid-column: 3/4;
            background-color: #F2B705;
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.calculator {
    padding:  82px 0;
    &__cont {
    }

    &__title {
        color: #424467;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 73px; 
    }

    &__text {
        color: #8B8FBB;
        text-align: center;
        font-size: 18px;
        line-height: normal;
        padding: 0 119px;
        margin-bottom: 32px;
    }

    &__box {
        border-radius: 18px;
        background: #FFF;
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05);
        padding: 24px;
        margin-bottom: 32px;
    }

    &__box-title {
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 24px;
    }

    &__list-parameters {
    }

    &__item-parameters {
        display: grid;
        grid-template-columns: 320px 60px 1fr 180px 130px;
        margin-bottom: 16px;
        gap: 16px;
    }

    &__item-checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    &__item-label {
        position: relative;
        grid-column: 1/2;
        color: #424467;
        font-size: 18px;
        line-height: 30px;
        padding-left: 28px; 
        &::before{
            content: "";
            display: block;
            height: 20px;
            width: 20px;
            border: 1px solid #F2B705;
            border-radius: 50%;
            position: absolute;
            top: 15%;
            left: 0;
        }
    }
    &__item-checkbox:checked + &__item-label::before{
        background-image: url(../img/calculator/ic_g.svg);
        background-position: -1px -1px;
    }

    &__item-number {
        grid-column: 2/3;
        border-radius: 8px;
        background: #E6EBFB;
        text-align: center;
        color: #8B8FBB;
        font-size: 18px;
        font-weight: 400;
    }

    &__price {
        grid-column: 4/5;
    }

    &__price-number {
        color: #424467;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-left: 8px;
    }

    &__final-price {
        grid-column: 5/6;
    }

    &__final-price-number {
        color: #424467;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-left: 8px;
    }

    &__total-subscription-price {
        border-radius: 10px;
        background: #E6EBFB;
        display: flex;
        justify-content: space-between;
        padding: 4px 24px;
        align-items: center;
        margin-top: 24px;
    }

    &__total-subscription-price-text {
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
    }

    &__total-subscription-price-box {
        display: flex;
        align-items: center;
    }

    &__total-subscription-price-day {
        border-radius: 12px;
        background: #616BE8;
        color: #FFF;
        line-height: 30px;
        padding: 7px 24px;
        display: flex;
        margin-right: 16px;
        & span:nth-child(1){
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            font-weight: 600;
        }
    }

    &__total-subscription-price-monthly {
        color: #424467;
        display: flex;
        & span:nth-child(1){
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            font-weight: 600;
        }
    }
    &__btn-box{
        display: flex;
        justify-content: center;
    }
    &__btn{
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        border-radius: 12px;
        background: #F2B705;
        padding: 13px 90px;

    }
}
.partners {
    background-color: #F2B705;
    padding: 50px 0;
    &__cont {
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 40px;
    }
    &__box-slider{
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 140px;
    }

    &__item {
    }

    &__logo {
    }
    &__btn {
        background-color: transparent;
        &--previous{

        }
        &--next {

        }
    }
    &__btn-text {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    &__icon-next {
    }
    &__icon-previous {
    }
}
.advantages {
    padding: 82px 0 84px;
    &__cont {
        display: grid;
        grid-template-columns: 1fr 654px;
    }

    &__box-left {
    }

    &__title {
        color: #424467;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 52px;
    }

    &__list {
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        gap: 16px;
    }

    &__icon {
    }

    &__text {
    }

    &__btn {
        margin-top: 32px;
        border-radius: 12px;
        background: #F2B705;
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        padding: 13px 99px 13px 96px;
    }

    &__img {
    }
}
